<template>
  <div>
    <Teleport to="#page-header-left-target">
      <dl class="grid grid-cols-5 gap-2 sm:gap-5">
        <a
          v-for="group in groups.filter(g => g.metrics.length)"
          :key="group.name"
          @click="selectedGroup = group"
          class="overflow-hidden rounded-lg p-3 shadow cursor-pointer dark:border dark:border-slate-500"
          :class="selectedGroup.name === group.name ? 'bg-emerald-500 dark:bg-emerald-300' : 'bg-white dark:bg-transparent'"
        >
          <dt
            class="truncate text-sm font-medium"
            :class="selectedGroup.name === group.name ? 'text-white dark:text-slate-800' : 'text-gray-500 dark:text-gray-300'"
          >
            {{ group.title }}
          </dt>
          <dd
            class="text-xl font-semibold tracking-tight"
            :class="selectedGroup.name === group.name ? 'text-white dark:text-slate-800' : 'text-gray-700 dark:text-gray-200'"
          >
            <span :class="selectedGroup.name === group.name ? 'text-white dark:text-slate-800' : 'text-emerald-500 dark:text-emerald-300'">{{
              group.metrics.length
            }}</span>
            stat{{ group.metrics.length > 1 ? 's' : '' }}
          </dd>
        </a>
      </dl>
    </Teleport>

    <Teleport to="#page-header-right-target">
      <a href="https://gitlab.com/peakd/hive-open-stats" target="_blank" rel="noopener" class="flex items-center">
        <div class="mr-2 flex-shrink-0"><img :src="StatsLogo" class="h-12 w-12 rounded-md" /></div>
        <div class="text-white text-sm">
          <span>Powered by</span>
          <span class="block font-bold">Hive Open Stats</span>
        </div>
      </a>
    </Teleport>

    <div class="flex flex-col">
      <div v-if="isLoading" class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8 mb-4">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg bg-white dark:bg-slate-800 p-5">
            <div class="text-center py-20 text-2xl text-gray-600 dark:text-gray-300">Loading ...</div>
          </div>
        </div>
      </div>
      <div v-else class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8 mb-4">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg bg-white dark:bg-slate-800 p-5">
            <div class="flex items-center mb-6">
              <div class="grow flex items-center">
                <Menu as="div" class="relative text-left">
                  <div>
                    <MenuButton class="flex items-center w-full font-medium">
                      <h3 class="text-2xl">{{ selectedMetric.name }}</h3>
                      <ChevronDownIcon class="-mr-1 ml-1 h-5 w-5" aria-hidden="true" />
                    </MenuButton>
                  </div>

                  <transition
                    enter-active-class="transition ease-out duration-100"
                    enter-from-class="transform opacity-0 scale-95"
                    enter-to-class="transform opacity-100 scale-100"
                    leave-active-class="transition ease-in duration-75"
                    leave-from-class="transform opacity-100 scale-100"
                    leave-to-class="transform opacity-0 scale-95"
                  >
                    <MenuItems
                      class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white dark:bg-slate-800 shadow-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5 focus:outline-none overflow-y-auto"
                      style="max-height: calc(35vh + 1.25rem)"
                    >
                      <div class="py-1">
                        <MenuItem v-for="metric in selectedGroup.metrics" :key="metric.endpoint" v-slot="{ active }">
                          <a
                            @click="selectedMetric = metric"
                            :class="[
                              active ? 'bg-gray-100 dark:bg-slate-700 text-gray-900 dark:text-gray-100' : 'text-gray-700 dark:text-gray-200',
                              'block px-4 py-2 text-sm'
                            ]"
                            >{{ metric.name }}</a
                          >
                        </MenuItem>
                      </div>
                    </MenuItems>
                  </transition>
                </Menu>

                <div v-if="selectedMetricDetails && selectedMetricDetails.length" class="relative flex flex-col items-center group ml-3">
                  <span class="inline-flex items-center rounded-full bg-slate-100 py-0.5 pl-2.5 pr-1 text-sm font-medium text-slate-700">
                    Details <InformationCircleIcon class="inline h-5 w-5 ml-1" />
                  </span>

                  <div class="absolute w-96 max-w-lg top-0 flex-col items-center hidden mt-6 group-hover:flex">
                    <div class="w-3 h-3 -mb-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
                    <span
                      class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                    >
                      <div v-for="(details, index) in selectedMetricDetails" :key="index">
                        <hr v-if="index > 0" class="my-3 h-px bg-slate-600 border-0 dark:bg-slate-300" />
                        {{ details.desc }}
                      </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="isolate inline-flex items-center rounded-md shadow-sm">
                <button
                  @click="selectedTimeframe = 'daily'"
                  class="relative inline-flex items-center rounded-l-md border border-gray-300 dark:border-gray-500 bg-white dark:bg-slate-800 px-4 py-2 text-sm font-medium text-gray-400 hover:bg-gray-50 dark:hover:bg-slate-700 cursor-pointer"
                  :class="selectedTimeframe === 'daily' ? 'text-emerald-600 dark:text-emerald-300' : 'text-gray-500 dark:text-gray-300'"
                >
                  Daily
                  <span
                    aria-hidden="true"
                    :class="[selectedTimeframe === 'daily' ? 'bg-emerald-500' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']"
                  />
                </button>
                <button
                  @click="selectedTimeframe = 'weekly'"
                  class="relative -ml-px inline-flex items-center border border-gray-300 dark:border-gray-500 bg-white dark:bg-slate-800 px-4 py-2 text-sm font-medium hover:bg-gray-50 dark:hover:bg-slate-700 cursor-pointer"
                  :class="selectedTimeframe === 'weekly' ? 'text-emerald-600 dark:text-emerald-300' : 'text-gray-500 dark:text-gray-300'"
                >
                  Weekly
                  <span
                    aria-hidden="true"
                    :class="[selectedTimeframe === 'weekly' ? 'bg-emerald-500' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']"
                  />
                </button>
                <button
                  @click="selectedTimeframe = 'monthly'"
                  class="relative -ml-px inline-flex items-center border border-gray-300 dark:border-gray-500 bg-white dark:bg-slate-800 px-4 py-2 text-sm font-medium hover:bg-gray-50 dark:hover:bg-slate-700 cursor-pointer"
                  :class="selectedTimeframe === 'monthly' ? 'text-emerald-600 dark:text-emerald-300' : 'text-gray-500 dark:text-gray-300'"
                >
                  Monthly
                  <span
                    aria-hidden="true"
                    :class="[selectedTimeframe === 'monthly' ? 'bg-emerald-500' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']"
                  />
                </button>
                <button
                  @click="selectedTimeframe = 'yearly'"
                  class="relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 dark:border-gray-500 bg-white dark:bg-slate-800 px-4 py-2 text-sm font-medium text-gray-400 hover:bg-gray-50 dark:hover:bg-slate-700 cursor-pointer"
                  :class="selectedTimeframe === 'yearly' ? 'text-emerald-600 dark:text-emerald-300' : 'text-gray-500 dark:text-gray-300'"
                >
                  Yearly
                  <span
                    aria-hidden="true"
                    :class="[selectedTimeframe === 'yearly' ? 'bg-emerald-500' : 'bg-transparent', 'absolute inset-x-0 bottom-0 h-0.5']"
                  />
                </button>
              </div>
            </div>

            <BarChart
              v-if="selectedMetric.chart === 'bar'"
              :key="`${selectedMetric.name}/${selectedTimeframe}`"
              :chartId="`${selectedMetric.name}/${selectedTimeframe}`"
              :labels="selectedMetric.labels(records)"
              :datasets="selectedMetric.datasets(records)"
              :timeframe="selectedTimeframe"
            />
            <div v-else class="text-lg text-medium text-gray-700 dark:text-gray-200 text-center">Chart not available for this metric</div>
          </div>
        </div>
      </div>

      <div v-if="records && records.length > 2" class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-500">
              <thead class="bg-gray-50 dark:bg-slate-700">
                <tr>
                  <th
                    v-for="(key, index) in Object.keys(records[0])"
                    :key="index"
                    scope="col"
                    class="py-3 px-6 text-xs font-semibold text-gray-900 dark:text-gray-100"
                    :class="index === 0 ? 'text-left' : 'text-right'"
                  >
                    <span v-if="key === 'unit'">Period</span>
                    <span v-else>{{ splitAndCapitalize(key) }}</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 dark:divide-gray-700 bg-white dark:bg-slate-800">
                <tr v-for="(record, index) in records" :key="index">
                  <td
                    v-for="(value, index) in Object.values(record)"
                    :key="index"
                    class="whitespace-nowrap py-2 px-6 text-xs text-gray-900 dark:text-gray-100"
                    :class="index === 0 ? 'text-left' : 'text-right'"
                  >
                    {{ selectedMetric.formatter && selectedMetric.formatter[index] ? selectedMetric.formatter[index](value) : value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ChevronDownIcon, InformationCircleIcon } from '@heroicons/vue/solid'
  import orderBy from 'lodash.orderby'
  import groupBy from 'lodash.groupby'
  import sortBy from 'lodash.sortby'
  import StatsLogo from '~/assets/images/hive-open-stats.svg'
  import { formatNumber, splitAndCapitalize } from '~/common/helpers/formatter'
  import { colorFromString, hashcode } from '~/common/helpers/utils'
  import { fetchData } from '~/stats/api/hiveOpenStatsApi'

  const colors = ['#fcd34d', '#22577a', '#f94144', '#277da1', '#7209b7', '#4d908e', '#f8961e', '#90be6d', '#98c1d9', '#f3722c']

  const prepare = (records: Array<any>, field: string, parser: Function = (f: any) => f, sliceAt: number = 30) =>
    records
      .slice(0, sliceAt)
      .map((r: any) => (parser ? parser(r[field]) : r[field]))
      .reverse()

  const prepareMultiple = (
    name: string,
    records: Array<any>,
    fields: Array<string>,
    labels: Array<string> = ['Amount', 'Count'],
    charts: Array<string> = ['line', 'bar'],
    sliceAt: number = 30
  ) => {
    let startColor = hashcode(name)

    return fields.map((field, index) => ({
      type: charts[index],
      label: labels[index],
      data: prepare(records, field, parseFloat, sliceAt),
      borderColor: colors[(startColor + index) % colors.length],
      backgroundColor: colors[(startColor + index) % colors.length],
      lineTension: 0.25,
      ...(charts.length >= 2 && charts[0] !== charts[1] ? { yAxisID: index === 0 ? 'yLeft' : 'yRight' } : {})
    }))
  }

  const prepareSeries = (name: string, records: Array<any>, labelField: string, valueField: string, parser: Function = (f: any) => f, sliceAt: number = 30) => {
    const startColor = hashcode(name)
    const datasets = groupBy(records, (r: any) => r[labelField])
    return Object.keys(datasets).map((key, index) => ({
      label: key,
      borderColor: colors[(startColor + index) % colors.length],
      backgroundColor: colors[(startColor + index) % colors.length],
      data: datasets[key]
        .slice(0, sliceAt)
        .map((r: any) => parser(r[valueField]))
        .reverse()
    }))
  }

  const socialMetrics: any[] = [
    {
      endpoint: 'posts',
      group: 'social',
      name: 'Content Posts',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => [{ data: prepare(records, 'total_num', parseInt), borderColor: '#277da1', backgroundColor: '#277da1' }]
    },
    {
      endpoint: 'comments',
      group: 'social',
      name: 'Content Comments',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => [{ data: prepare(records, 'total_num', parseInt) }]
    },
    {
      endpoint: 'comment_rewards',
      group: 'social',
      name: 'Hive Reward Distribution',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      mapper: (results: Array<any>) => results.map(r => ({ unit: r.unit, ['Rewards (HBD)']: r.amount, ['Post/Comment Count']: r.num })),
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) =>
        prepareMultiple('HBD Rewards', records, ['Rewards (HBD)', 'Post/Comment Count'], ['HBD Rewards', 'Post/Comment Count'], ['bar', 'line'])
    }
  ]

  const tokenMetrics: any[] = [
    {
      endpoint: 'internal_market_volume',
      group: 'tokens',
      name: 'Internal Market Volume',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      mapper: (results: Array<any>) => results.map(r => ({ unit: r.unit, ['Volume (HBD)']: r.amount, ['Num Orders']: r.num })),
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Market Volume', records, ['Num Orders', 'Volume (HBD)'], ['Num Orders', 'Volume (HBD)'])
    },
    {
      endpoint: 'transfers_hive',
      group: 'tokens',
      name: 'Total Transfers (HIVE)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Total Transfers (HIVE)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hbd',
      group: 'tokens',
      name: 'Total Transfers (HBD)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Total Transfers (HBD)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hive_to_null',
      group: 'tokens',
      name: 'Transfers to Null (HIVE)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Transfers to Null (HIVE)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hbd_to_null',
      group: 'tokens',
      name: 'Transfers to Null (HBD)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Transfers to Null (HBD)', records, ['amount', 'num'])
    },
    {
      endpoint: 'total_hive_supply',
      group: 'tokens',
      name: 'Total HIVE Supply',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Total HIVE', records, [selectedTimeframe.value === 'daily' ? 'value' : 'average_value', 'num'])
    },
    {
      endpoint: 'total_hbd_supply',
      group: 'tokens',
      name: 'Total HBD Supply',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Total HBD', records, [selectedTimeframe.value === 'daily' ? 'value' : 'average_value', 'num'])
    },
    {
      endpoint: 'total_virtual_supply',
      group: 'tokens',
      name: 'Total Virtual Supply',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('Total', records, [selectedTimeframe.value === 'daily' ? 'value' : 'average_value', 'num'])
    },
    {
      endpoint: 'hbd_in_savings',
      group: 'tokens',
      name: 'HBD In Savings',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber, formatNumber, formatNumber],
      chart: 'bar',
      mapper: (results: Array<any>) =>
        results.map(r => ({
          unit: r.unit,
          amount_from: r.amount_from,
          amount_to: r.amount_to,
          cumulative: r.cumulative,
          net_change: r.net_change,
          num_transfers_from: r.num_transfers_from,
          num_transfers_to: r.num_transfers_to
        })),
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) =>
        prepareMultiple('HBD In Savings', records, ['cumulative', 'amount_to', 'amount_from'], ['Total', 'Deposits', 'Withdraws'], ['line', 'bar', 'bar'])
    },
    {
      endpoint: 'hbd_in_savings_interest',
      group: 'tokens',
      name: 'HBD In Savings - Paid Interest',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber, formatNumber, formatNumber],
      chart: 'bar',
      fetch: async (timeframe: string) => fetchData(`hbd_in_savings/${timeframe}`),
      mapper: (results: Array<any>) =>
        results.map(r => ({
          unit: r.unit,
          ['Interest Paid (HBD)']: r.interest_paid,
          num_interest_payouts: r.num_interest_payouts
        })),
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) =>
        prepareMultiple('HBD In Savings - Paid Interest', records, ['Interest Paid (HBD)', 'num_interest_payouts'], ['Amount', 'Claims'], ['bar', 'line'])
    }
  ]

  const exchangeMetrics: any[] = [
    {
      endpoint: 'exchange_hive/top_exchanges',
      group: 'exchanges',
      name: 'On TOP Exchange (HIVE)',
      chart: 'bar',
      fetch: async (timeframe: string) => fetchData(`exchange_hive/all_exchanges/${timeframe}`, 30),
      mapper: (results: any) => {
        const labels = sortBy(Object.keys(results)).slice(-18)
        const datasets: any[] = []

        for (let date of labels) {
          for (let exchange of Object.keys(results[date])) {
            if (!['binance', 'upbit', 'blocktrades', 'gateio', 'huobi', 'dunamu', 'hiveswap', 'honey-swap'].includes(exchange)) continue

            let match = datasets.find(d => d.label === exchange)
            if (!match) {
              const color = colorFromString(exchange)
              match = { label: exchange, borderColor: color, backgroundColor: color, data: [] }
              datasets.push(match)
            }
            match.data.push({ x: date, y: results[date][exchange].cumulative })
          }
        }
        return [labels, datasets]
      },
      labels: (records: any) => (records.length === 2 ? records[0] : []),
      datasets: (records: any) => (records.length === 2 ? records[1] : [])
    },
    {
      endpoint: 'exchange_hive/all_exchanges',
      group: 'exchanges',
      name: 'On ALL Exchange (HIVE)',
      chart: 'bar',
      fetch: async (timeframe: string) => fetchData(`exchange_hive/all_exchanges/${timeframe}`, 30),
      mapper: (results: any) => {
        const labels = sortBy(Object.keys(results)).slice(-12)
        const datasets: any[] = []

        for (let date of labels) {
          for (let exchange of Object.keys(results[date])) {
            let match = datasets.find(d => d.label === exchange)
            if (!match) {
              const color = colorFromString(exchange)
              match = { label: exchange, borderColor: color, backgroundColor: color, data: [] }
              datasets.push(match)
            }

            match.data.push({ x: date, y: results[date][exchange].cumulative })
          }
        }
        return [labels, datasets]
      },
      labels: (records: any) => (records.length === 2 ? records[0] : []),
      datasets: (records: any) => (records.length === 2 ? records[1] : [])
    },
    {
      endpoint: 'exchange_hbd/all_exchanges',
      group: 'exchanges',
      name: 'On Exchange (HBD)',
      chart: 'bar',
      fetch: async (timeframe: string) => fetchData(`exchange_hive/all_exchanges/${timeframe}`, 30),
      mapper: (results: any) => {
        const labels = sortBy(Object.keys(results)).slice(-12)
        const datasets: any[] = []

        for (let date of labels) {
          for (let exchange of Object.keys(results[date])) {
            let match = datasets.find(d => d.label === exchange)
            if (!match) {
              const color = colorFromString(exchange)
              match = { label: exchange, borderColor: color, backgroundColor: color, data: [] }
              datasets.push(match)
            }

            match.data.push({ x: date, y: results[date][exchange].cumulative })
          }
        }
        return [labels, datasets]
      },
      labels: (records: any) => (records.length === 2 ? records[0] : []),
      datasets: (records: any) => (records.length === 2 ? records[1] : [])
    },
    {
      endpoint: 'transfers_hive_from_exchanges',
      group: 'exchanges',
      name: 'From Exchange (HIVE)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('From Exchange (HIVE)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hbd_from_exchanges',
      group: 'exchanges',
      name: 'From Exchange (HBD)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('From Exchange (HBD)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hive_to_exchanges',
      group: 'exchanges',
      name: 'To Exchange (HIVE)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('To Exchange (HIVE)', records, ['amount', 'num'])
    },
    {
      endpoint: 'transfers_hbd_to_exchanges',
      group: 'exchanges',
      name: 'To Exchange (HBD)',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => prepareMultiple('To Exchange (HBD)', records, ['amount', 'num'])
    }
  ]

  const otherMetrics: any[] = [
    {
      endpoint: 'hive_power',
      details: ['power_ups', 'power_downs'],
      group: 'others',
      name: 'Power Up/Down',
      sort: ['unit', 'desc'],
      formatter: [null, null, formatNumber, formatNumber],
      chart: 'bar',
      fetch: async (timeframe: string) => {
        const operations = [
          { metric: 'power_ups', name: 'Power Up' },
          { metric: 'power_downs', name: 'Power Down' }
        ]
        return Promise.all(operations.map(op => fetchData(`${op.metric}/${timeframe}`))).then(results =>
          results.map((records, index) => ({ label: operations[index].name, records: records }))
        )
      },
      mapper: (results: Array<any>) => {
        return results && Array.isArray(results)
          ? orderBy(
              results.flatMap((result: any) =>
                result.records.map((record: any) => ({
                  unit: record.unit,
                  type: result.label,
                  value: result.label === 'Power Down' ? -record.amount : record.amount,
                  transactions: record.num
                }))
              ),
              ['unit', 'operation'],
              ['desc', 'desc']
            )
          : []
      },
      labels: (records: any) => [...new Set(prepare(records, 'unit'))],
      datasets: (records: any) => prepareSeries('Power Up/Down', records, 'type', 'value')
    },
    {
      endpoint: 'rc',
      group: 'others',
      name: 'RC Costs (Common)',
      formatter: [null, formatNumber, null],
      chart: 'bar',
      fetch: async (timeframe: string) => {
        const operations = [
          { metric: 'cost_vote_operation', name: 'Vote' },
          { metric: 'cost_comment_operation', name: 'Comment' },
          { metric: 'cost_transfer_operation', name: 'Transfer' },
          { metric: 'cost_custom_json_operation', name: 'Custom Json' },
          { metric: 'cost_claim_reward_balance_operation', name: 'Claim Rewards' },
          { metric: 'cost_account_update_operation', name: 'Account Update' }
        ]
        return Promise.all(operations.map(op => fetchData(`rc/${encodeURIComponent(op.metric)}/${timeframe}`))).then(results =>
          results.map((records, index) => ({ label: operations[index].name, records: records }))
        )
      },
      mapper: (results: Array<any>) => {
        return results && Array.isArray(results)
          ? orderBy(
              results.flatMap((result: any) =>
                result.records.map((record: any) => ({
                  operation: result.label,
                  ['RC Cost']: record.rc_cost || record.average_rc_cost,
                  ['HP Equivalent']: record.hp_equiv || record.average_hp_equiv,
                  unit: record.unit
                }))
              ),
              ['unit', 'operation'],
              ['desc', 'asc']
            )
          : []
      },
      labels: (records: Array<any>) => orderBy([...new Set(records.map((date: any) => date.unit))]).slice(-30),
      datasets: (records: Array<any>) => prepareSeries('RC Costs', records, 'operation', 'RC Cost')
    },
    {
      endpoint: 'rc_large',
      details: ['rc'],
      group: 'others',
      name: 'RC Costs (Large Trx)',
      formatter: [null, formatNumber, null],
      chart: 'bar',
      fetch: async (timeframe: string) => {
        const operations = [{ metric: 'cost_claim_account_operation', name: 'Claim account' }]
        return Promise.all(operations.map(op => fetchData(`rc/${encodeURIComponent(op.metric)}/${timeframe}`))).then(results =>
          results.map((records, index) => ({ label: operations[index].name, records: records }))
        )
      },
      mapper: (results: Array<any>) => {
        return results && Array.isArray(results)
          ? orderBy(
              results.flatMap((result: any) =>
                result.records.map((record: any) => ({
                  operation: result.label,
                  ['RC Cost']: record.rc_cost || record.average_rc_cost,
                  ['HP Equivalent']: record.hp_equiv || record.average_hp_equiv,
                  unit: record.unit
                }))
              ),
              ['unit', 'operation'],
              ['desc', 'asc']
            )
          : []
      },
      labels: (records: Array<any>) => orderBy([...new Set(records.map((date: any) => date.unit))]).slice(-30),
      datasets: (records: Array<any>) => prepareSeries('RC Costs', records, 'operation', 'RC Cost')
    }
  ]

  const governanceMetrics: any[] = [
    {
      endpoint: 'dhf_proposal_payments',
      group: 'governance',
      name: 'DHF Proposal Payments',
      sort: ['unit', 'desc'],
      formatter: [null, formatNumber],
      chart: 'bar',
      labels: (records: any) => prepare(records, 'unit'),
      datasets: (records: any) => [{ data: prepare(records, 'amount', parseInt), borderColor: '#90be6d', backgroundColor: '#90be6d' }]
    }
  ]

  const dappMetrics: any[] = [
    /*
        {
          endpoint: 'operations/apps',
          group: 'dapps',
          name: 'dApps',
          sort: ['unit', 'desc'],
          formatter: [null, formatNumber],
          chart: 'bar',
          mapper: (result: any): Array<any> => {
            const allApps = [
              ...Object.values(result).reduce((acc, cur) => {
                Object.keys(cur).forEach(key => acc.add(key))
                return acc
              }, new Set())
            ]
            return Object.keys(result).reduce((acc, key) => {
              if (key !== 'null') {
                const item = { unit: key }
                for (let app of allApps) {
                  item[app] = result[key][app] || 0
                }
                acc.push(item)
              }
              return acc
            }, [])
          },
          labels: (records: any) => {
            return prepare(records, 'unit')
          },
          datasets: (records: any) => {
            console.log(records)
            return []
          }
        },
        */
  ]

  const metrics: any = [...socialMetrics, ...tokenMetrics, ...exchangeMetrics, ...otherMetrics, ...governanceMetrics, ...dappMetrics]

  const groups = [
    { name: 'social', title: 'Hive Social', metrics: metrics.filter((m: any) => m.group === 'social') },
    { name: 'tokens', title: 'Tokens', metrics: metrics.filter((m: any) => m.group === 'tokens') },
    { name: 'exchanges', title: 'Exchanges', metrics: metrics.filter((m: any) => m.group === 'exchanges') },
    { name: 'governance', title: 'Governance', metrics: metrics.filter((m: any) => m.group === 'governance') },
    { name: 'dapps', title: 'dApps', metrics: metrics.filter((m: any) => m.group === 'dapps') },
    { name: 'others', title: 'Others', metrics: metrics.filter((m: any) => m.group === 'others') }
  ]

  const route = useRoute()
  const router = useRouter()

  const metricDetails = ref({})

  const selectedMetric = ref(route.query.metric ? metrics.find((m: any) => m.endpoint === route.query.metric) || metrics[0] : metrics[0])
  const selectedMetricDetails = computed(() => {
    if (!metricDetails.value || !selectedMetric.value) return []

    const metrics = selectedMetric.value.details || [selectedMetric.value.endpoint]
    return metrics.filter((m: String) => metricDetails.value[m]).map((m: String) => metricDetails.value[m])
  })
  const selectedGroup = ref(groups.find(g => g.name === selectedMetric.value.group) || groups[0])
  const selectedTimeframe = ref(
    route.query.timeframe && ['daily', 'weekly', 'monthly', 'yearly'].includes(route.query.timeframe.toString()) ? route.query.timeframe.toString() : 'daily'
  )

  const isLoading = ref(false)

  const records = ref([])

  const loadStats = async () => {
    isLoading.value = true

    records.value = []

    // use a custom fetch if provided, otherwise standard endpoint
    let results = selectedMetric.value.fetch
      ? await selectedMetric.value.fetch(selectedTimeframe.value)
      : await fetchData(`${selectedMetric.value.endpoint}/${selectedTimeframe.value}`)

    // custom mapper if needed
    if (selectedMetric.value.mapper) {
      results = selectedMetric.value.mapper(results)
    }

    // sort if needed
    if (selectedMetric.value.sort) {
      results = orderBy(results, selectedMetric.value.sort[0], selectedMetric.value.sort[1] || 'asc')
    }

    records.value = results

    isLoading.value = false
  }

  watch(selectedGroup, () => {
    selectedMetric.value = selectedGroup.value.metrics[0]
  })

  watch(selectedMetric, () => {
    router.push({ path: `/stats`, query: { metric: selectedMetric.value.endpoint, timeframe: selectedTimeframe.value } })
    loadStats()
  })

  watch(selectedTimeframe, () => {
    router.push({ path: `/stats`, query: { metric: selectedMetric.value.endpoint, timeframe: selectedTimeframe.value } })
    loadStats()
  })

  onMounted(() => {
    // load stats
    loadStats()
    // fetch details about provided metrics
    fetchData('metrics', 1000).then(result => (metricDetails.value = result))
  })
</script>
