<template>
  <div class="min-h-full flex flex-col justify-center sm:px-6 lg:px-8">
    <Transition name="toast">
      <Toast v-if="toast.show" :message="toast.message" />
    </Transition>

    <div class="sm:mx-auto sm:w-full max-w-lg">
      <div class="bg-white dark:bg-slate-800 py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <form class="space-y-6" @submit.prevent="swap">
          <div>
            <div class="flex">
              <label for="first" class="grow block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">From</label>

              <span v-if="accountStore.account.name" class="text-sm text-gray-700 dark:text-gray-200 pr-1">
                Balance:
                <a v-if="from === 'HIVE'" @click="balanceClickHIVE()" class="font-medium cursor-pointer text-emerald-600 dark:text-emerald-400">{{
                  accountStore.account.balance
                }}</a>
                <a v-else-if="from === 'HBD'" @click="balanceClickHBD()" class="font-medium cursor-pointer text-emerald-600 dark:text-emerald-400">{{
                  accountStore.account.hbd_balance
                }}</a>
              </span>
            </div>
            <div class="mt-1 flex rounded-md shadow-sm">
              <input
                id="first"
                name="first"
                type="number"
                step="0.001"
                min="0.000"
                :value="fromAmount"
                @input="event => updateFrom(event?.target?.value)"
                autocomplete="false"
                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-l-md dark:text-gray-100 dark:bg-slate-800 focus:ring-emerald-500 dark:focus:ring-emerald-100 focus:border-emerald-500 dark:focus:border-emerald-100 sm:text-md md:text-xl border-gray-300 dark:border-slate-500"
              />
              <span
                class="inline-flex items-center px-3 py-2 rounded-r-md border border-l-0 border-gray-300 dark:border-slate-500 bg-gray-50 dark:bg-slate-700 text-gray-500 dark:text-gray-300 font-semibold sm:text-md"
              >
                {{ from }}
              </span>
            </div>
            <div class="flex text-sm text-gray-600 dark:text-gray-300 px-1 mt-0.5">
              <span class="grow">USD Value</span>
              <span class="font-medium">${{ formatCurrency(usdValueFrom, '0,0[.]0000') }}</span>
            </div>
          </div>

          <div class="text-center">
            <button
              type="button"
              :disabled="isLoading"
              @click="swapTokens()"
              class="inline-flex items-center p-2.5 border border-transparent rounded-full shadow-sm text-white dark:text-slate-800 bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
            >
              <SwitchVerticalIcon class="h-5 w-5" aria-hidden="true" />
            </button>
          </div>

          <div>
            <div class="flex">
              <label for="second" class="grow block text-sm font-medium text-gray-700 dark:text-gray-200 pl-1">To</label>

              <span v-if="accountStore.account.name" class="text-sm text-gray-700 dark:text-gray-200 pr-1">
                Balance:
                <span v-if="from === 'HIVE'" class="font-medium text-emerald-600 dark:text-emerald-400">{{ accountStore.account.hbd_balance }} </span>
                <span v-else-if="from === 'HBD'" class="font-medium text-emerald-600 dark:text-emerald-400">{{ accountStore.account.balance }} </span>
              </span>
            </div>
            <div class="mt-1 flex rounded-md shadow-sm">
              <!-- <span
                id="second"
                name="second"
                type="text"
                autocomplete="false"
                :disabled="true"
                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-l-md dark:text-gray-100 dark:bg-slate-800 focus:ring-emerald-500 dark:focus:ring-emerald-100 focus:border-emerald-500 dark:focus:border-emerald-100 sm:text-md md:text-xl border-gray-300 dark:border-slate-500"
              >
                {{ toAmount }}
              </span> -->
              <input
                id="second"
                name="second"
                type="number"
                step="0.001"
                min="0.000"
                :value="toAmount"
                @input="event => updateTo(event?.target?.value)"
                autocomplete="false"
                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-l-md dark:text-gray-100 dark:bg-slate-800 focus:ring-emerald-500 dark:focus:ring-emerald-100 focus:border-emerald-500 dark:focus:border-emerald-100 sm:text-md md:text-xl border-gray-300 dark:border-slate-500"
              />

              <span
                class="inline-flex items-center px-3 py-2 rounded-r-md border border-l-0 border-gray-300 dark:border-slate-500 bg-gray-50 dark:bg-slate-700 text-gray-500 dark:text-gray-300 font-semibold sm:text-md"
              >
                {{ to }}
              </span>
            </div>
            <div class="flex text-sm text-gray-600 dark:text-gray-300 px-1 mt-0.5">
              <span class="grow">USD Value </span>
              <span>${{ formatCurrency(usdValueTo.toFixed(4), '0,0[.]0000') }}</span>
              <span v-if="parseFloat(usdValueFrom) <= parseFloat(usdValueTo)" class="text-emerald-600 dark:text-emerald-400"
                >&nbsp;({{ percentageProfitLoss }})</span
              >
              <span v-else class="text-red-600 dark:text-red-400">&nbsp;({{ percentageProfitLoss }})</span>
            </div>
          </div>

          <div>
            <button
              :disabled="fromGreaterThanBalance"
              class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm font-bold text-lg uppercase text-white dark:text-slate-800"
              :class="
                fromGreaterThanBalance
                  ? 'bg-gray-400 dark:bg-gray-500'
                  : parseFloat(percentageProfitLoss) <= -5
                  ? 'bg-red-600 dark:bg-red-400 hover:bg-red-700 dark:hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 dark:focus:ring-red-100'
                  : 'bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100'
              "
            >
              Swap
            </button>
          </div>
        </form>

        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300 dark:border-slate-500" />
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-300"> Options </span>
            </div>
          </div>

          <div class="flex text-gray-600 dark:text-gray-300 mt-4 text-sm">
            <span class="grow flex items-center">
              <span>Max Slippage</span>
              <div class="relative flex flex-col items-center group ml-1">
                <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500 dark:text-gray-300" />
                <div class="absolute w-96 max-w-lg bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
                  <span
                    class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                    >How much less are you willing to receive on your swap to ensure it is executed. Lower value gets you a better deal but may not get
                    executed.</span
                  >
                  <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
                </div>
              </div>
            </span>
            <span class="relative z-0 inline-flex rounded-md shadow-sm">
              <button
                @click="maxOffset = 0.1"
                class="relative inline-flex items-center rounded-l-md border bg-white dark:bg-slate-800 justify-center w-14 px-3 py-1.5 text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700"
                :class="maxOffset === 0.1 ? 'border-2 border-emerald-500 dark:border-emerald-300' : 'border-gray-300 dark:border-slate-500 '"
              >
                0.1%
              </button>
              <button
                @click="maxOffset = 0.5"
                class="relative inline-flex items-center border bg-white dark:bg-slate-800 justify-center w-14 px-3 py-1.5 text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700"
                :class="maxOffset === 0.5 ? 'border-2  border-emerald-500 dark:border-emerald-300' : 'border-gray-300 dark:border-slate-500 '"
              >
                0.5%
              </button>
              <button
                @click="maxOffset = 1"
                class="relative inline-flex items-center border bg-white dark:bg-slate-800 justify-center w-14 px-3 py-1.5 text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700"
                :class="maxOffset === 1 ? 'border-2  border-emerald-500 dark:border-emerald-300' : 'border-gray-300 dark:border-slate-500 '"
              >
                1%
              </button>
              <button
                @click="maxOffset = 3"
                class="relative inline-flex items-center rounded-r-md border bg-white dark:bg-slate-800 justify-center w-14 px-3 py-1.5 text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700"
                :class="maxOffset === 3 ? 'border-2  border-emerald-500 dark:border-emerald-300' : 'border-gray-300 dark:border-slate-500 '"
              >
                3%
              </button>
            </span>
          </div>
          <div class="flex text-gray-600 dark:text-gray-300 mt-1">
            <span class="grow">After slippage</span>
            <span class="font-medium text-gray-600 dark:text-gray-300">{{ (toAmount * (1 - maxOffset / 100)).toFixed(3) }}</span>
          </div>
        </div>

        <div class="mt-6">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300 dark:border-slate-500" />
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-300"> Details </span>
            </div>
          </div>

          <div class="mt-4 text-sm">
            <div class="flex text-gray-600 dark:text-gray-300">
              <span class="grow"> {{ from }} per {{ to }}</span>
              <span class="font-medium">{{ fromTo }} {{ from }}</span>
            </div>
            <div class="flex text-gray-600 dark:text-gray-300 mt-1">
              <span class="grow">{{ to }} per {{ from }}</span>
              <span class="font-medium">{{ toFrom }} {{ to }}</span>
            </div>
            <div class="flex text-gray-600 dark:text-gray-300 mt-1">
              <span class="grow flex items-center">
                <span>Order Book Impact</span>
                <div class="relative flex flex-col items-center group ml-1">
                  <QuestionMarkCircleIcon class="h-5 w-5 text-gray-500 dark:text-gray-300" />
                  <div class="absolute w-96 max-w-lg bottom-0 flex-col items-center hidden mb-6 group-hover:flex">
                    <span
                      class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                      >Order Book Impact is calculated from the first order on the book before the swap to the remaining top order after the execution</span
                    >
                    <div class="w-3 h-3 -mt-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
                  </div>
                </div>
              </span>
              <span class="font-medium">{{ priceImpact }}</span>
            </div>
            <div class="flex text-gray-600 dark:text-gray-300 mt-1">
              <span class="grow">Fee</span>
              <span class="font-medium text-emerald-600 dark:text-emerald-400">0.00%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <TransitionRoot :as="LoginModal" :show="loginModalOpen" @close="toggleLoginModal(false)"></TransitionRoot>
    <TransitionRoot
      :as="SwapExecutionModal"
      :transaction_id="transaction_id"
      :block_num="block_num"
      :orderid="orderid"
      :show="swapExecutionModalOpen"
      @close="toggleSwapExecutionModal(false)"
    ></TransitionRoot>
  </div>
</template>

<script setup lang="ts">
  import { SwitchVerticalIcon } from '@heroicons/vue/outline'
  import { QuestionMarkCircleIcon } from '@heroicons/vue/solid'
  import { debounce } from 'vue-debounce'
  import { getTransaction, getTransactionStatus } from '~/common/api/hiveApi'
  import { formatCurrency, formatPercentage } from '~/common/helpers/formatter'
  import LoginModal from '~/common/components/modals/LoginModal.vue'
  import { useAccountStore } from '~/stores/account'
  import { useMarketStore } from '~/stores/market'
  import SwapExecutionModal from '~/common/components/modals/SwapExecutionModal.vue'
  const accountStore = useAccountStore()
  const marketStore = useMarketStore()

  const from = ref('HIVE')
  const fromAmount = ref(1)
  const to = ref('HBD')
  const toAmount = ref(0)
  const transaction_id = ref('')
  const block_num = ref(Number)
  const orderid = ref(Number)

  const fromTo = computed(() => (fromAmount.value == 0 || toAmount.value == 0 ? '0' : (fromAmount.value / toAmount.value).toFixed(4)))
  const toFrom = computed(() => (fromAmount.value == 0 || toAmount.value == 0 ? '0' : (toAmount.value / fromAmount.value).toFixed(4)))
  const maxOffset = ref(0.5)
  const lastMarketBookUpdate = ref(0)

  const fromGreaterThanBalance = ref(false)
  const usdValueFrom = computed(() =>
    from.value === 'HIVE'
      ? fromAmount.value * parseFloat(marketStore.market.marketStats.hiveUsd)
      : fromAmount.value * parseFloat(marketStore.market.marketStats.hbdUsd)
  )
  const usdValueTo = computed(() =>
    from.value === 'HIVE'
      ? toAmount.value * parseFloat(marketStore.market.marketStats.hbdUsd)
      : toAmount.value * parseFloat(marketStore.market.marketStats.hiveUsd)
  )

  const percentageProfitLoss = computed(() => {
    let fromUsd =
      from.value === 'HIVE'
        ? fromAmount.value * parseFloat(marketStore.market.marketStats.hiveUsd)
        : fromAmount.value * parseFloat(marketStore.market.marketStats.hbdUsd)

    let toUsd =
      from.value === 'HIVE'
        ? toAmount.value * parseFloat(marketStore.market.marketStats.hbdUsd)
        : toAmount.value * parseFloat(marketStore.market.marketStats.hiveUsd)

    return formatPercentage(((100 * toUsd) / fromUsd - 100) / 100)
  })

  const priceImpact = ref('0%')
  let swapExecutionModalOpen = ref(false)
  const toggleSwapExecutionModal = (open = false) => {
    swapExecutionModalOpen.value = open
  }
  let loginModalOpen = ref(false)
  const toggleLoginModal = (open = false) => {
    loginModalOpen.value = open
  }
  const toast = ref({
    show: false,
    message: '',
    actionOnTimeout: () => {}
  })
  const triggerToast = (message: string, actionOnTimeout: any = () => {}) => {
    toast.value.show = true
    toast.value.message = message
    setTimeout(() => {
      actionOnTimeout()
      toast.value.show = false
    }, 1500)
  }

  const swapTokens = () => {
    const temp = from.value
    from.value = to.value
    to.value = temp

    fromAmount.value = toAmount.value
    toAmount.value = 0
    updateFrom(fromAmount.value)
  }
  function balanceClickHIVE() {
    fromAmount.value = parseFloat(accountStore.account.balance.split(' ')[0])
    from.value = 'HIVE'
    to.value = 'HBD'
    updateFrom(fromAmount.value)
  }
  function balanceClickHBD() {
    fromAmount.value = parseFloat(accountStore.account.hbd_balance.split(' ')[0])
    from.value = 'HBD'
    to.value = 'HIVE'
    updateFrom(fromAmount.value)
  }

  const updateFrom = debounce(async (val: string | number) => {
    if (Date.now() - lastMarketBookUpdate.value > 2000) {
      await marketStore.updateOrderBook()
      lastMarketBookUpdate.value = Date.now()
    }

    fromAmount.value = val ? parseFloat(val) : 0

    let orderBook = marketStore.market.orderBook
    let amountSpent = 0
    let amountGot = 0
    let firstBookOrder = 0
    let lastBookOrder = 0
    if (from.value === 'HBD' && orderBook.asks.length > 0 && fromAmount.value > 0) {
      if (accountStore.account.authenticated && fromAmount.value > parseFloat(accountStore.account.hbd_balance.split(' ')[0])) {
        fromGreaterThanBalance.value = true
      } else {
        fromGreaterThanBalance.value = false
      }
      let indexOfAsks = 0
      firstBookOrder = parseFloat(orderBook.asks[indexOfAsks].real_price)
      while (amountSpent < fromAmount.value && indexOfAsks < orderBook.asks.length) {
        if (orderBook.asks[indexOfAsks].hbd / 1000 >= fromAmount.value - amountSpent) {
          amountGot += (fromAmount.value - amountSpent) / parseFloat(orderBook.asks[indexOfAsks].real_price)
          amountSpent += fromAmount.value - amountSpent
        } else {
          amountGot += orderBook.asks[indexOfAsks].hbd / 1000 / parseFloat(orderBook.asks[indexOfAsks].real_price)
          amountSpent += orderBook.asks[indexOfAsks].hbd / 1000
        }
        indexOfAsks += 1
      }
      lastBookOrder = parseFloat(orderBook.asks[indexOfAsks - 1].real_price)
      priceImpact.value = `${((lastBookOrder * 100) / firstBookOrder - 100).toFixed(3)}%`
    } else if (from.value === 'HIVE' && orderBook.bids.length > 0 && fromAmount.value > 0) {
      if (accountStore.account.authenticated && fromAmount.value > parseFloat(accountStore.account.balance.split(' ')[0])) {
        fromGreaterThanBalance.value = true
      } else {
        fromGreaterThanBalance.value = false
      }
      let indexOfBids = 0
      firstBookOrder = parseFloat(orderBook.bids[indexOfBids].real_price)
      while (amountSpent < fromAmount.value && indexOfBids < orderBook.bids.length) {
        if (orderBook.bids[indexOfBids].hive / 1000 >= fromAmount.value - amountSpent) {
          amountGot += (fromAmount.value - amountSpent) * parseFloat(orderBook.bids[indexOfBids].real_price)
          amountSpent += fromAmount.value - amountSpent
        } else {
          amountGot += (orderBook.bids[indexOfBids].hive / 1000) * parseFloat(orderBook.bids[indexOfBids].real_price)
          amountSpent += orderBook.bids[indexOfBids].hive / 1000
        }
        indexOfBids += 1
      }
      lastBookOrder = parseFloat(orderBook.bids[indexOfBids - 1].real_price)
      priceImpact.value = `${(100 - (lastBookOrder * 100) / firstBookOrder).toFixed(3)}%`
    }
    fromAmount.value = parseFloat(amountSpent.toFixed(4).slice(0, -1))
    toAmount.value = parseFloat(amountGot.toFixed(18).slice(0, -15))

    // fromTo.value = fromAmount.value == 0 || toAmount.value == 0 ? '0' : (fromAmount.value / toAmount.value).toFixed(3)
    // toFrom.value = fromAmount.value == 0 || toAmount.value == 0 ? '0' : (toAmount.value / fromAmount.value).toFixed(3)
  }, '350ms')

  const updateTo = debounce(async (val: string | number) => {
    if (Date.now() - lastMarketBookUpdate.value > 2000) {
      await marketStore.updateOrderBook()
      lastMarketBookUpdate.value = Date.now()
    }

    toAmount.value = val ? parseFloat(val) : 0

    let orderBook = marketStore.market.orderBook
    let amountSpent = 0
    let amountGot = 0
    let firstBookOrder = 0
    let lastBookOrder = 0

    if (from.value === 'HBD' && orderBook.asks.length > 0 && toAmount.value > 0) {
      if (accountStore.account.authenticated && fromAmount.value > parseFloat(accountStore.account.hbd_balance.split(' ')[0])) {
        fromGreaterThanBalance.value = true
      } else {
        fromGreaterThanBalance.value = false
      }
      let indexOfAsks = 0
      firstBookOrder = parseFloat(orderBook.asks[indexOfAsks].real_price)
      while (amountGot < toAmount.value && indexOfAsks < orderBook.asks.length) {
        if (orderBook.asks[indexOfAsks].hive / 1000 >= toAmount.value - amountGot) {
          amountGot += toAmount.value - amountGot
          amountSpent += amountGot * parseFloat(orderBook.asks[indexOfAsks].real_price)
        } else {
          amountGot += orderBook.asks[indexOfAsks].hive / 1000
          amountSpent += (orderBook.asks[indexOfAsks].hive * parseFloat(orderBook.asks[indexOfAsks].real_price)) / 1000
        }
        indexOfAsks += 1
      }
      lastBookOrder = parseFloat(orderBook.asks[indexOfAsks - 1].real_price)
      priceImpact.value = `${((lastBookOrder * 100) / firstBookOrder - 100).toFixed(3)}%`
    } else if (from.value === 'HIVE' && orderBook.bids.length > 0 && toAmount.value > 0) {
      if (accountStore.account.authenticated && fromAmount.value > parseFloat(accountStore.account.balance.split(' ')[0])) {
        fromGreaterThanBalance.value = true
      } else {
        fromGreaterThanBalance.value = false
      }
      let indexOfBids = 0
      firstBookOrder = parseFloat(orderBook.bids[indexOfBids].real_price)
      while (amountGot < toAmount.value && indexOfBids < orderBook.bids.length) {
        if (orderBook.bids[indexOfBids].hbd / 1000 >= toAmount.value - amountGot) {
          amountGot += toAmount.value - amountGot
          amountSpent += amountGot / parseFloat(orderBook.bids[indexOfBids].real_price)
        } else {
          amountGot += orderBook.bids[indexOfBids].hbd / 1000
          amountSpent += orderBook.bids[indexOfBids].hbd / parseFloat(orderBook.bids[indexOfBids].real_price) / 1000
        }
        indexOfBids += 1
      }
      lastBookOrder = parseFloat(orderBook.bids[indexOfBids - 1].real_price)
      priceImpact.value = `${(100 - (lastBookOrder * 100) / firstBookOrder).toFixed(3)}%`
    }
    fromAmount.value = parseFloat(amountSpent.toFixed(4).slice(0, -1))
    toAmount.value = parseFloat(amountGot.toFixed(18).slice(0, -15))

    // fromTo.value = fromAmount.value == 0 || toAmount.value == 0 ? '0' : (fromAmount.value / toAmount.value).toFixed(3)
    // toFrom.value = fromAmount.value == 0 || toAmount.value == 0 ? '0' : (toAmount.value / fromAmount.value).toFixed(3)
  }, '350ms')

  const swap = async () => {
    if (from.value === 'HBD') {
      buyHIVE()
    } else if (from.value === 'HIVE') {
      buyHBD()
    }
  }

  const isLoading = ref(false)

  const buyHIVE = async () => {
    if (accountStore.account.name && fromAmount.value > 0 && toAmount.value > 0) {
      let expiration: any = new Date(Date.now())
      expiration.setDate(expiration.getDate() + 27)
      expiration = expiration.toISOString().split('.')[0]
      const op = [
        'limit_order_create',
        {
          orderid: Math.floor(Date.now() / 1000),
          owner: accountStore.account.name,
          amount_to_sell: `${fromAmount.value.toFixed(3)} HBD`,
          min_to_receive: `${(toAmount.value * (1 - maxOffset.value / 100)).toFixed(3)} HIVE`,
          fill_or_kill: true,
          expiration: expiration
        }
      ]

      await window.hive_keychain.requestBroadcast(accountStore.account.name, [op], 'Active', async response => {
        console.log(response)
        console.log('going to display summary')

        await displayTradeSummary(response.result.id)
        await accountStore.updateBalances()
      })
    } else if (!accountStore.account.name) {
      triggerToast('You need to login', () => {
        toggleLoginModal(true)
      })
    }
  }

  const buyHBD = async () => {
    if (accountStore.account.name && fromAmount.value > 0 && toAmount.value > 0) {
      let expiration: any = new Date(Date.now())
      expiration.setDate(expiration.getDate() + 27)
      expiration = expiration.toISOString().split('.')[0]
      const op = [
        'limit_order_create',
        {
          orderid: Math.floor(Date.now() / 1000),
          owner: accountStore.account.name,
          amount_to_sell: `${fromAmount.value.toFixed(3)} HIVE`,
          min_to_receive: `${(toAmount.value * (1 - maxOffset.value / 100)).toFixed(3)} HBD`,
          fill_or_kill: true,
          expiration: expiration
        }
      ]

      await window.hive_keychain.requestBroadcast(accountStore.account.name, [op], 'Active', async response => {
        console.log(response)
        console.log('going to display summary')
        await displayTradeSummary(response.result.id)
        await accountStore.updateBalances()
      })
    } else if (!accountStore.account.name) {
      triggerToast('You need to login', () => {
        toggleLoginModal(true)
      })
    }
  }

  const displayTradeSummary = async (id: string) => {
    const status = await getTransactionStatus(id)
    switch (status.status) {
      case 'unknown':
        break
      case 'within_mempool':
        await new Promise(resolve => setTimeout(resolve, 200))
        await displayTradeSummary(id)
        break
      case 'within_reversible_block':
      case 'within_irreversible_block':
        const response = await getTransaction(id)
        if (response.block_num && response.operations) {
          block_num.value = response.block_num
          transaction_id.value = id
          orderid.value = response.operations[0][1].orderid
          swapExecutionModalOpen.value = true
        }
        break
      case 'within_irreversible_block':
        break
      case 'expired_reversible':
        break
      case 'expired_irreversible':
        break
      case 'too_old':
        break
    }
  }

  onMounted(async () => {
    updateFrom(fromAmount.value)
  })
</script>
