<template>
  <Doughnut :data="votesData" :options="options" />
</template>

<script setup lang="ts">
  import { Chart as ChartJS, ArcElement, Title, Tooltip, Legend } from 'chart.js'
  import { Doughnut } from 'vue-chartjs'
  import { useSettingsStore } from '~/stores/settings'

  ChartJS.register(ArcElement, Title, Tooltip, Legend)

  const settingsStore = useSettingsStore()
  const darkMode = ref(settingsStore.settings?.darkMode)

  const props = defineProps<{ stats: any; title: string }>()
  const displayedData = Object.entries(props.stats)

  const votesData = {
    labels: displayedData.map(data => data[0]),
    datasets: [
      {
        backgroundColor: ['#fcd34d', '#22577a', '#f94144', '#277da1', '#7209b7', '#f8961e', '#4d908e', '#90be6d', '#98c1d9', '#f3722c', '#b57edb'],
        data: displayedData.map(data => Math.round(data[1]))
      }
    ]
  }

  const options = {
    maintainAspectRatio: false,
    hoverOffset: 4,
    radius: '80%',
    animation: {
      animateScale: true
    },
    plugins: {
      title: {
        text: props.title,
        display: true,
        position: 'top',
        padding: '4',
        font: {
          family: 'Inter',
          size: 16,
          style: 'normal',
          weight: 400
        },
        color: darkMode.value ? '#f3f4f6' : '#111827'
      },
      legend: {
        position: 'left',
        align: 'center',
        labels: {
          color: '#9ca3af'
        }
      }
    }
  }
</script>
