<template>
    <div class="container mx-auto px-4">
      <h1 class="text-2xl font-bold mb-8">Token Route Request</h1>
      <form @submit.prevent="submitForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <!-- Origin section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-4">Origin</h2>

    <div class="mb-4">
      <label for="origin-token" class="block text-sm font-bold mb-2">Token:</label>
      <input type="text" id="origin-token" v-model="originToken" class="w-full p-2 border rounded" required>
    </div>

    <div class="mb-4">
      <label for="origin-location" class="block text-sm font-bold mb-2">Location:</label>
      <input type="text" id="origin-location" v-model="originLocation" class="w-full p-2 border rounded" required>
    </div>
  </div>

  <!-- Destination section -->
  <div class="mb-6">
    <h2 class="text-xl font-semibold mb-4">Destination</h2>

    <div class="mb-4">
      <label for="destination-token" class="block text-sm font-bold mb-2">Token:</label>
      <input type="text" id="destination-token" v-model="destinationToken" class="w-full p-2 border rounded" required>
    </div>

    <div class="mb-4">
      <label for="destination-location" class="block text-sm font-bold mb-2">Location:</label>
      <input type="text" id="destination-location" v-model="destinationLocation" class="w-full p-2 border rounded" required>
    </div>
  </div>

  <button type="submit" class="bg-blue-600 text-white font-bold py-2 px-4 rounded">Submit</button>
</form>
</div>
</template>

<script setup lang="ts">

</script>

<style scoped>
.container {
  max-width: 800px;
}
</style>
