<template>
  <component :is="outerComponent.tag" v-bind="outerComponent.attributes">
    <img v-if="imageSrc" :src="imageSrc" class="inline-block rounded-full border border-gray-300 dark:border-slate-700" :class="imgClass" :alt="account" />
    <span
      v-else
      class="inline-flex items-center justify-center rounded-full"
      :class="imgClass || 'w-full h-full'"
      :style="`color: ${fgColor}; background-color: ${bgColor}`"
    >
      <span class="font-medium leading-none" :class="textSize">{{ account.slice(0, 2).toUpperCase() }}</span>
    </span>
  </component>
</template>

<script setup lang="ts">
  import axios from 'axios'
  import { colorFromString, invertColor } from '~/common/helpers/utils'

  const defaultHiveAvatar = 'X37EMQ9WSwsMkbaFFVtss2tEEKpVvbqx1wBjz6fCwXa41QNVwbz8YG8D7SsNDaVSpEJmfwUkNU9b82DE4zrWrusmgafrs2L25RaS7'

  const props = defineProps<{
    account: string
    size?: string
    imgClass?: string
    static?: boolean
  }>()

  const imageUrl = `https://images.hive.blog/u/${props.account}/avatar/${props.size || 'small'}`
  const imageSrc = ref()
  const fgColor = ref('')
  const bgColor = ref('')

  const imgSize = props.imgClass?.match(/h-(?<size>[0-9]+)/)?.groups?.size
  const textSize = imgSize && parseInt(imgSize) > 12 ? 'text-2xl' : 'text-xs'

  const generateAvatar = () => {
    imageSrc.value = ''
    fgColor.value = colorFromString(props.account)
    bgColor.value = invertColor(fgColor.value)
  }

  axios
    .get(imageUrl, { responseType: 'blob' })
    .then(response => {
      console.log(response.request?.responseURL)
      if (!response.request?.responseURL.includes(`/p/${defaultHiveAvatar}`)) {
        imageSrc.value = URL.createObjectURL(response.data)
      } else {
        generateAvatar()
      }
      return response // Promise.all([response.url, response.blob()])
    })
    .catch(error => {
      console.error('Error loading profile picture for account ' + props.account, error)
      generateAvatar()
    })

  const outerComponent = props.static
    ? { tag: 'div', attributes: {} }
    : {
        tag: 'router-link',
        attributes: { to: `/@${props.account}` }
      }
</script>
