<template>
  <footer style="background: linear-gradient(20deg, rgb(30, 41, 59) 0%, rgb(30, 41, 59) 35%, rgb(15, 118, 110) 100%)">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        <div class="xl:col-span-1">
          <img class="h-8 mb-2" :src="Logo" :alt="appName" />
          <p class="text-gray-300 text-base">{{ appDesc }}</p>
          <div class="flex space-x-4 mt-4">
            <a v-for="item in socials" :key="item.name" :href="item.href" target="_blank" class="text-gray-300 hover:text-gray-200">
              <span class="sr-only">{{ item.name }}</span>
              <img :src="item.icon" class="h-6 w-6" aria-hidden="true" />
            </a>
          </div>
        </div>
        <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-white tracking-wider uppercase">Blockchain</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li v-for="item in navigation.blockchain" :key="item.name">
                  <a :href="item.href" class="text-base text-gray-300 hover:text-gray-200">
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-white tracking-wider uppercase">Blogging</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li v-for="item in navigation.blogs" :key="item.name">
                  <a :href="item.href" class="text-base text-gray-300 hover:text-gray-200">
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-white tracking-wider uppercase">DeFi</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li v-for="item in navigation.defi" :key="item.name">
                  <a :href="item.href" class="text-base text-gray-300 hover:text-gray-200">
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-white tracking-wider uppercase">Games</h3>
              <ul role="list" class="mt-4 space-y-4">
                <li v-for="item in navigation.games" :key="item.name">
                  <a :href="item.href" class="text-base text-gray-300 hover:text-gray-200">
                    {{ item.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 border-t border-slate-600 border-opacity-50 pt-8">
        <p class="text-base text-gray-400 xl:text-center">
          Built with passion by the Peak Open Projects <router-link to="/team" class="underline text-white">Team</router-link>
        </p>
      </div>
    </div>
  </footer>
</template>

<script setup lang="ts">
  import Logo from '~/assets/images/hivehub_light.svg'
  import PeakdWhiteLogo from '~/assets/images/icons/peakd_white.svg'
  import GitLabLogo from '~/assets/images/icons/gitlab.svg'
  import DiscordLogo from '~/assets/images/icons/discord.svg'

  const appName = import.meta.env.VITE_APP_TITLE
  const appDesc = import.meta.env.VITE_APP_DESC

  const socials = [
    {
      name: 'PeakD',
      href: 'https://peakd.com/@peak.open',
      icon: PeakdWhiteLogo
    },
    {
      name: 'GitLab',
      href: 'https://gitlab.com/peakd/hivehub.dev',
      icon: GitLabLogo
    },
    {
      name: 'Discord',
      href: 'https://discord.gg/5bSeyyZHHn',
      icon: DiscordLogo
    }
  ]

  const navigation = {
    blockchain: [
      { name: 'Hive.io', href: 'https://hive.io/' },
      { name: 'Why Hive', href: 'https://whyhive.co/' }
    ],
    defi: [
      { name: 'Tribaldex', href: 'https://tribaldex.com/' },
      { name: 'BeeSwap', href: 'https://beeswap.dcity.io/swap' },
      { name: 'dlux', href: 'https://www.dlux.io/' }
    ],
    blogs: [
      { name: 'PeakD', href: 'https://peakd.com/' },
      { name: 'Hive.blog', href: 'https://hive.blog/' },
      { name: 'Ecency', href: 'https://ecency.com/' }
    ],
    games: [{ name: 'Splinterlands', href: 'https://splinterlands.com/' }]
  }
</script>
