<template>
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select</label>
  </div>
  <div class="hidden sm:block">
    <nav
      class="relative z-0 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 flex divide-x divide-gray-200 dark:divide-slate-600"
      aria-label="Tabs"
    >
      <button
        v-for="(tab, tabIdx) in tabs"
        @click="toggleTabs(tabIdx)"
        :key="tabIdx"
        :class="[
          tabIdx === selected
            ? 'text-emerald-600 dark:text-emerald-400 underline decoration-2 underline-offset-2'
            : 'text-gray-500 dark:text-gray-300 hover:text-gray-700  dark:hover:text-gray-200 ',
          { 'rounded-l-lg': tabIdx === 0 },
          { 'rounded-r-lg': tabIdx === tabs.length - 1 }
        ]"
        class="group relative bg-white dark:bg-slate-800 py-2 px-4 text-sm font-medium text-center"
      >
        <span>{{ tab }}</span>
      </button>
    </nav>
  </div>
</template>

<script setup lang="ts">
  const selected = ref(0)

  const props = defineProps<{ tabs: string[] }>()
  const emits = defineEmits(['toggleElements'])

  const toggleTabs = (selection: number) => {
    selected.value = selection
    emits('toggleElements', selected.value)
  }
</script>
