<template>
  <TransitionRoot as="template" :show="showWidget" :unmount="false">
    <Dialog as="div" class="relative z-40" @close="toggleWidget(false)" :unmount="false">
      <TransitionChild
        as="template"
        enter="transition-opacity ease-linear duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="transition-opacity ease-linear duration-300"
        leave-from="opacity-100"
        leave-to="opacity-0"
        :unmount="false"
      >
        <div class="fixed inset-0 bg-black bg-opacity-75" />
      </TransitionChild>

      <div class="fixed inset-0 flex z-40">
        <TransitionChild
          as="template"
          enter="transition ease-in-out duration-300 transform"
          enter-from="translate-x-full"
          enter-to="translate-x-0"
          leave="transition ease-in-out duration-300 transform"
          leave-from="translate-x-0"
          leave-to="translate-x-full"
          :unmount="false"
          @after-enter="toggleWidget(true)"
        >
          <DialogPanel
            class="ml-auto relative h-full w-full max-w-4xl 2xl:max-w-6xl rounded-l-md bg-gradient-to-br from-slate-900 to-teal-700 shadow-xl py-4 pb-6 flex flex-col items-center justify-center overflow-y-auto"
          >
            <div class="text-white text-2xl">Loading dApp...</div>
            <div class="fixed top-0 right-0 h-full w-full max-w-4xl 2xl:max-w-6xl z-20 rounded-l-md" :ref="el => (widgetElement = el)"></div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { StWidget } from '~/common/external/stwidget'

  const props = defineProps({ showWidget: { type: Boolean, required: true } })
  const emit = defineEmits(['hideWidget'])

  // template refs
  const widgetElement = ref(null)

  // variable refs
  const stWidget = ref(null)

  const initializeWidget = () => {
    // Specify the URL of the widget
    stWidget.value = new StWidget('https://chat.peakd.com/t/hive-163399/0')
    stWidget.value.properties = {
      requireLogin: false,
      sidebar: 2,
      communityChannelNameFormat: 'C/<title>/<name>',
      '--appCommunityIconFontSize': '18px',
      '--appCommunityIconSize': '42px',
      '--appFontFamily': "'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
      '--appFontSize': '14px',
      '--appMessageFontFamily': "'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
      '--appMessageFontSize': '14px',
      defaultTheme: 'Light'
    }
    const iframeElement = stWidget.value.createElement('100%', '100%', true /* overlay */, false /* resizable */, {
      'border-top-left-radius': '0.25rem',
      'border-bottom-left-radius': '0.25rem'
    })

    widgetElement.value.appendChild(iframeElement)
  }

  const toggleWidget = (show = true) => {
    if (show) {
      if (!stWidget.value) {
        initializeWidget()
      }

      // restore sting frame
      widgetElement.value.classList.remove('hidden')
      stWidget.value.pause(false)
    } else {
      // pause sting frame
      stWidget.value.pause(true)
      widgetElement.value.classList.add('hidden')

      emit('hideWidget')
    }
  }
</script>
