<template>
  <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
      <li v-for="block in blocks" :key="block.block_num">
        <BlockRecord :block="block"></BlockRecord>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
  import { getBlocks } from '~/common/api/hiveApi'
  import { useChainPropertiesStore } from '~/stores/chainProperties'

  const chainPropertiesStore = useChainPropertiesStore()

  await chainPropertiesStore.refreshDynamicGlobalProperties()
  console.log('Chain global props: ', chainPropertiesStore.dynamicGlobalProperties)

  const fetchBlockNum = chainPropertiesStore.dynamicGlobalProperties.last_irreversible_block_num - 15
  const latestBlocks = await getBlocks(fetchBlockNum, 15)
  console.log('Blocks: ', latestBlocks)

  const blocks: [number, any][] = latestBlocks.blocks.map((b: any, index: number) => ({ ...b, block_num: fetchBlockNum + index })).reverse()
</script>
